<!DOCTYPE html>
<html lang="ES">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/stylevistaprincipal.css">
    <link rel="stylesheet" href="static/styleGalery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="/static/img/logo.png">


    <title>Message</title>
</head>

<body>
    <div id="sidebar">
        <div class="toggle-btn">
            <span>&#9776;</span>
        </div>
        <ul>
            <li>
                <img class="img-logo" src="static/img/{{session['Usuario']}}/perfil/Default.png" alt=""><br>
                <a href="#"style="padding:2px;font-size:10px;">Nombre de Perfil </a>
            </li>   
            <li><a href="/main">inicio</a></li>
            <li><a href="/logout">Cerrar Sesión</a></li>

        </ul>
    </div>
    <nav>
        <div class="img-logo2"><img src="static/img/{{session['nombreBuscado']}}/perfil/Default.png" alt="logo"></div>
        <div class="nav-items">
            <li><a href="#">{{session["AliasBusqueda"]}}</a></li>
        </div>
    </nav>
<!-- estilo de escritura de mensajes -->
    <div class="navmensaje">
        <div class="modal-contentmensaje">
            <textarea  class="campotextomensaje"name="comment" rows=10 cols=60 width="1000" >
                {% for e in Historico %} 
                {{e['Remitente']}}  
                {{e['Mensaje']}}              
                {% endfor %}

          </textarea>
          
          </div>
    
      </div> 
      <form action="/MensajesPrivado" method="post">
     
            <div class="navinf">
                <div class="modal-content">
                    <textarea  class="campotexto"name="campotexto" rows=10 cols=60 width="500px"placeholder="Escriba mensaje" >
                    </textarea>

                    <button type="submit" id="myBtn">Enviar</button>
                
                </div>
       </div>  
</form> 
 
</body>

</html>