<!DOCTYPE html>
<html lang="ES">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/stylevistaprincipal.css">
    <link rel="stylesheet" href="CSS/styleGalery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="img/logo.png">


    <title>Message</title>
</head>

<body>
    <div id="sidebar">
        <div class="toggle-btn">
            <span>&#9776;</span>
        </div>
        <ul>
            <li>
                <img class="img-logo" src="img/imagen1.jpeg" alt=""><br>
                <a href="#"style="padding:2px;font-size:10px;">Nombre de Perfil </a>
            </li>
            <li><a href="#">Limpiar Mensajes</a></li>
            <li><a href="#">inicio</a></li>

        </ul>
    </div>
    <nav>
        <div class="img-logo2"><img src="img/FotoBusqueda.jpg" alt="logo"></div>
        <div class="nav-items">
            <li><a href="#">Nombre Busqueda</a></li>
        </div>
    </nav>
  <div class="navinf">
    <div class="modal-content">
        <input class="campotexto" type="text" width="500px">
        <button id="myBtn">Enviar</button>
    
      </div>

  </div>  
 
</body>

</html>