<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Pagina de Registro</title>
        <meta charset="UFT-8">
        <meta name="viewport" content="width=decive-width, initial-scale=1">
        <link rel="stylesheet" href="/static/registro.css">
        <link rel="icon" type="image/x-icon" href="/static/img/logo.png">
    </head>
    <body>

        <script>
            let Mensaje = "{{ Mensaje }}";
                if  (Mensaje == "Ok")  
                {
                    // document.write("Contraseña errada")
                     alert("Registro Exitoso");
                 
                }
                else if (Mensaje == "Usuario Ya existe"){
                    alert("Usuario Ya existe");

                } 
        </script>
        <header class="header">
            <div class="container logo-nav-container">
                <img src="/static/img/logo.png" width="180" height="70" alt="SHP Logo">
                    <nav class="navigation">
                        <ul>
                            <li><a href="/">Iniciar Sesión</a></li>
                        </ul>
                    </nav>
            </div>
        </header>
        
        
        <main class="main">
            <div class="container">
                <h4>REGISTRAR USUARIO</h4>
                <form action="/Ingresando" method="POST">
                <section class="form-register">
                    <input type="text" class="inputs" name="nombres" id="nombres" placeholder="Nombres">
                    <input type="text" class="inputs" name="apellidos" id="apellidos" placeholder="Apellidos">
                    <input type="date" class="inputs" name="fecha" id="fecha" placeholder="Fecha de Nacimiento">
                    <input type="number" class="inputs" name="edad" id="edad" placeholder="Edad">
                    <input type="email" class="inputs-complete" name="correo" id="correo" placeholder="Correo">

                    <input type="text" class="inputs-complete" inputmode="numeric"  name="celular" id="celular" placeholder="Número de Celular"> </br>
                    <select class="gender" name="genero" id="genero">
                        <option value="select-gender">Género</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Otro">Prefiero no Decirlo</option>
                    </select>
                    
                    <select class="state" name="estado" id="estado">
                        <option value="select-estado">Estado Civil</option>
                        <option value="Soltero">Soltero</option>
                        <option value="Casado">Casado</option>
                        <option value="Union Libre">Union Libre</option>
                        <option value="Comprometido">Comprometido</option>
                    </select> </br>
                    <input type="nickname" class="inputs-complete" name="Alias"  placeholder="Nombre Perfil">
                    <input type="password" class="inputs-complete" name="contraseña"  placeholder="Crea tu Nueva Contraseña">

                    <p> <input type="checkbox" name="aggree" id="Politica"> <label for="Politica"> Acepto la Politica de Privacidad de Datos</label>
                        <br><br> <input type="submit" class="bottom" value="Registrarme">  
                        
                        
                    </p>

                </form>
                    

                    <p>¿Ya Tienes Cuenta? <a href="/">Iniciar Sesión</a></p>              


                </section>


            </div>
        </main>
    </body>

</html>