<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Pagina de Registro</title>
        <meta charset="UFT-8">
        <meta name="viewport" content="width=decive-width, initial-scale=1">
        <link rel="stylesheet" href="/static/registro.css">
        <link rel="icon" type="image/x-icon" href="/static/img/logo.png">
    </head>
    <body>
        <header class="header">
            <div class="container logo-nav-container">
                <img src="/static/img/logo.png" width="180" height="70" alt="SHP Logo">
                    <nav class="navigation">
                        <ul>
                            <li><a href="/">Iniciar Sesión</a></li>
                        </ul>
                    </nav>
            </div>
        </header>
        
        
        <main class="main">
            <div class="container">
                <h1>REGISTRAR USUARIO</h1>
                <form action="" method="get">
                <section class="form-register">
                    <input type="text" class="inputs" name="nombres" id="nombres" placeholder="Nombres">
                    <input type="text" class="inputs" name="apellidos" id="apellidos" placeholder="Apellidos">
                    <input type="date" class="inputs" name="fecha" id="fecha" placeholder="Fecha de Nacimiento">
                    <input type="number" class="inputs" name="edad" id="edad" placeholder="Edad">
                    <input type="email" class="inputs-complete" name="correo" id="correo" placeholder="Correo">

                    <input type="number" class="inputs-complete" inputmode="numeric" maxlength="9999999999" name="celular" id="celular" placeholder="Número de Celular"> </br>
                    <select class="gender" name="genero" id="genero">
                        <option value="select-gender">Género</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                        <option value="I">Prefiero no Decirlo</option>
                    </select>
                    
                    <select class="state" name="estado" id="estado">
                        <option value="select-estado">Estado Civil</option>
                        <option value="S">Soltero</option>
                        <option value="C">Casado</option>
                        <option value="U">Union Libre</option>
                        <option value="CO">Comprometido</option>
                    </select> </br>
                    <input type="nickname" class="inputs-complete" name="nombre-usuario" id="nombre_usuario" placeholder="Nombre de usuario">
                    <input type="password" class="inputs-complete" name="contraseña" id="contraseña" placeholder="Crea tu Nueva Contraseña">

                    <p> <input type="checkbox" name="aggree" id="Politica"> <label for="Politica"> Acepto la Politica de Privacidad de Datos</label>
                        <br><br> <button class="bottom"> Registrarme</button>
                        
                    </p>

                </form>
                    

                    <p>¿Ya Tienes Cuenta? <a href="/">Iniciar Sesión</a></p>              


                </section>


            </div>
        </main>
    </body>

</html>